<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.flaaare"
	version 	= "0.1.0">

	<name>Flaaare</name>

	<description>
        You know what it is
	</description>

	<author href="http://blanu.github.com"
		email="brandon@blanu.net">
		Brandon Wiley
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.2" />
<!--		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>-->
	</gap:platforms>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="autorotate" value="true" readonly="true"/>
</widget>
